body {
  margin: 0;
  font-family:'Press Start 2P', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #aefcae;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    display: flex;
    justify-content: center;
}

Form {
display: flex;
justify-content: center;
width: auto;

}

h2 {
    color: green;
    display: flex;
    justify-content: center;
}

.character-name {
    color: blue;
    display: flex;
    justify-content: center;
}

.character-age {
    color: red;
    display: flex;
    justify-content: center;
}

.character-world {
    color: green;
    display: flex;
    justify-content: center;
}

.character-enjoys {
    color: grey;
    display: flex;
    justify-content: center;
}

h4 {
    color: #bf910f;
}
